
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>React Month Picker Input</title>

    <link rel="stylesheet" href="theme/css/minimal.css?v=1">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2>React Month Picker Input</h2>
        <p>Simple month picker with calendar and input field with mask.</p>
        <ul>
          <li style="width: 100%;">
            <a href="https://github.com/slavakisel/react-month-picker-input">
              View On <strong>GitHub</strong>
            </a>
          </li>
        </ul>
      </header>
      <section>
        <div id="examples"></div>
      </section>
      <footer>
        <p>Based on <a href="https://github.com/pages-themes/minimal">Minimal theme</a></p>
      </footer>
    </div>
    <script src="theme/js/scale.fix.js"></script>
  </body>
</html>
